.app-page-title {
  padding: 30px 30px 10px !important;
}

.main {
  margin-bottom: 50px;
}

.card {
  padding: 20px;
  border-radius: 0;
}

.btn_edit {
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 20px;

  button {
    border-radius: 0;
    background-color: #0c8ce6;
    color: white;
    margin-right: 20px;

    &:nth-child(2) {
      background-color: #c41515;
      color: white;
    }

    &:hover {
      background-color: black;
    }
    
    mat-icon {
      color: white;
    }
  }
}

.patient_profile {
  display: flex;
  justify-content: space-between;
}

.photo_space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 36%;
  padding: 10px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.36);
  height: 300px;

  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .status {
    background-color: #000000b5;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    width: 100%;
    text-align: center;
    height: 55px;
    margin-top: -55px;
    z-index: 2;
  }
}

.detail_space {
  flex-basis: 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1rem;

  .title {
    flex-basis: 36%;
  }

  .value {
    flex-basis: 55%;
  }
}

.detail_row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  .title {
    font-weight: 600;
  }
}

// small device
@media (max-width: 777px) {
  .patient_profile {
    flex-direction: column;
  }
  .photo_space {
    margin-bottom: 20px;
  }
}
